@mixin max-w($width) {
  @media (max-width: $width) {
    @content;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 20px;
  line-height: 1.3;
  color: $dark;
  background-color: $silver-100;
  font-family: "Rubik-Regular", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 0;

  &.lock {
    @include max-w($xg) {
      overflow: hidden;
    }
  }

  &.lock-filter {
    @include max-w($xg) {
      overflow: hidden;
    }
  }
}

.header {
  font-size: 18px;
  position: fixed;
  padding: 60px 0 0;
  top: 0;
  z-index: 50;
  width: 100%;
  transition: padding-top 0.5s, background-color 0.5s;

  @include max-w($xl) {
    padding: 14px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-right: 62px;
  }

  &--fix {
    padding-top: 0;
    background-color: $orange-550;

    @include max-w($xg) {
      padding: 10px 0;
    }
  }
}

.logo {
  display: inline-block;
  flex-grow: 1;
  max-width: 200px;
  transition: opacity 0.5s, box-shadow 0.5s;

  &__img {
    height: 39px;
    width: 200px;

    &--top {

      @include max-w($sm) {
        height: 23px;
        width: 115px;
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-600;
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
    box-shadow: none;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--flex {
    max-width: 1230px;
    padding: 0 7px;
  }

  &--product-slider {
    max-width: 1192px;
    padding: 0 7px;
  }
}

.title {
  font-size: 36px;
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
  color: $darkBlue-900;
  margin-bottom: 45px;
  text-align: center;

  @include max-w($xl) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @include max-w($sm) {
    font-size: 24px;
  }

  &--left {
    text-align: start;
  }

  &--bottom-60 {
    margin-bottom: 60px;

    @include max-w($xl) {
      margin-bottom: 30px;
    }
  }

  &--bottom-30 {
    margin-bottom: 30px;
  }

  &--bottom-15 {

    @include max-w($md) {
      margin-bottom: 15px;
    }
  }

  &--bottom-0 {
    margin-bottom: 0;
  }

  &--font-20 {
    font-size: 20px;
  }
}

.animation-link {
  transition: color 0.5s, box-shadow 0.5s, border 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px $orange-600;
    border-radius: 5px;
    outline: 0;
  }

  &:hover {
    color: $orange-900;
    text-decoration: none;
  }

  &:active {
    color: $dark;
    text-shadow: 2px 2px 5px $silver-700;
    box-shadow: none;
  }
}

.menu {
  display: flex;
  justify-content: end;
  flex-grow: 9;
  z-index: 2;

  &__item:not(:last-child) {
    margin-right: 45px;

    @include max-w($xg) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__link {
    display: block;
    font-size: 18px;
    text-decoration: none;
    position: relative;

    &--active {
      color: $orange-900;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }

    @include max-w($xg) {
      display: inline-block;
    }
  }

  @include max-w($xg) {
    display: none;
  }

  &--active {
    display: block;
  }
}

.user-nav {
  display: flex;
  justify-content: end;

  @include max-w($xg) {
    padding-right: 30px;
  }

  &__btn {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 5px;

    &::before {
      content: '';
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      height: 24px;
      width: 24px;
      background-color: $darkBlue-900;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
    }

    &--search::before {
      mask-image: url(../images/sprite.svg#user--search);
      margin-right: 13px;
    }

    &--cart::before {
      mask-image: url(../images/sprite.svg#user--cart);
    }

    &:hover {

      &::before {
        background-color: $white;
      }
    }

    &:active {

      &::before {
        background-color: $darkBlue-900;
      }
    }
  }

  &__order {
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 10px;
    line-height: 1.2;
    color: $white;
    background-color: $orange-900;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transform: translate(50%, -25%);

    &:hover {
      color: $orange-900;
      background-color: $white;
    }

    &:active {
      color: $white;
      background-color: $orange-900;
    }
  }
}

.animation-icon {
  transition: color 0.5s, box-shadow 0.5s, border 0.5s, background-color 0.5s;

  &:focus {
    background-color: $orange-200;
    box-shadow: 0 0 0 2px $orange-600;
    outline: 0;
  }

  &:hover {
    color: $white;
    background-color: $orange-700;
  }

  &:active {
    color: $orange-900;
    box-shadow: none;
    background-color: $orange-200;
  }
}

.button {
  padding: 12px 32px;
  font-size: 18px;
  line-height: 1.3;
  color: $white;
  background-color: $orange-900;
  border-radius: 6px;
  letter-spacing: 0.03em;

  &--order {
    margin-right: 34px;

    @include max-w($md) {
      font-size: 16px;
      padding: 10px 28px;
      margin-right: 32px;
    }

    @include max-w($sm) {
      font-size: 14px;
      padding: 8px 24px;
      margin-right: 30px;
    }
  }

  &--card {
    font-size: 14px;
    padding: 7px 16px;
    letter-spacing: normal;
  }

  &--arrow {
    border-radius: 20px;
    position: relative;
    padding: 17px 40px;
    letter-spacing: normal;

    &::before {
      content: '';
      position: absolute;
      mask-image: url(../images/sprite.svg#arrow-restaurant);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 12px;
      width: 14px;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
      background-color: $white;
      transition: transform 0.5s;
    }

    &:focus {

      &::before {
        background-color: $orange-900;
      }
    }

    &:hover {

      &::before {
        transform: translate(12px, -50%);
        background-color: $orange-900;
      }
    }

    &:active {

      &::before {
        transform: translate(-50%, -50%);
        background-color: $orange-900;
      }
    }
  }

  &--form {
    font-size: 14px;
    padding: 13px 38px 13px 70px;
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500;
    position: relative;
    text-align: start;
    letter-spacing: normal;

    &::before {
      mask-image: url(../images/sprite.svg#frame);
      content: '';
      position: absolute;
      height: 24px;
      width: 24px;
      top: 50%;
      left: 38px;
      transform: translateY(-50%);
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
      background-color: $white;
    }

    &:focus {

      &::before {
        background-color: $orange-900;
      }
    }

    &:hover {

      &::before {
        background-color: $orange-900;
      }
    }

    &:active {

      &::before {
        background-color: $orange-900;
      }
    }
  }

  &--product {
    padding: 13px 38px 13px 70px;
    border-radius: 3px;
    font-family: "Rubik-Medium",
    sans-serif;
    font-size: 14px;
    position: relative;
    transition: transform 0.5s;
    letter-spacing: normal;

    &::before {
      content: '';
      position: absolute;
      mask-image: url(../images/sprite.svg#button--cart-bold);
      top: 50%;
      left: 38px;
      transform: translateY(-50%);
      height: 16px;
      width: 16px;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
      background-color: $white;
      transition: transform 0.5s;
    }

    &:focus {

      &::before {
        background-color: $orange-900;
      }
    }

    &:hover {

      &::before {
        background-color: $orange-900;
      }
    }

    &:active {

      &::before {
        transform: translate(-50%, -50%);
        background-color: $orange-900;
      }
    }
  }
}

.animation-btn {
  transition: color 0.5s, box-shadow 0.5s, border 0.5s, background-color 0.5s;

  &:focus {
    color: $orange-900;
    background-color: $orange-300;
    box-shadow: 0 0 0 2px $orange-600;
    outline: 0;
  }

  &:hover {
    color: $orange-900;
    background-color: $white;
    box-shadow: 0 0 0 2px $orange-600;
  }

  &:active {
    color: $orange-900;
    box-shadow: none;
    border-color: $orange-300;
    background-color: $orange-300;
  }
}

.add-btn {
  display: block;
  line-height: 1.5;
  color: $darkBlue-900;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  @include max-w($sm) {
    font-size: 16px;
  }

  &--center {
  margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $silver-200;
  &--silver-darker {
    background-color: $silver-400;
  }
  &--silver {
    background-color: $silver-600;
  }
}

.sidebar {
  display: none;
  @include max-w($xg) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    max-width: 300px;
    padding: 25px 0 15px;
    background-color: $white;
    display: block;
    transform: translateX(-200%);
    transition: transform 0.5s;
    overflow: auto;
    height: 100vh;
    z-index: 200;
  }

    &--active {
      transform: translateX(0);
    }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 25px 15px;
  }

  &__nav {
    padding: 25px 25px 25px 15px;
  }

  &__contacts {
    padding: 15px 25px 15px 15px;
  }
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 7px;
  mask-image: url(../images/sprite.svg#burger-menu);
  background-color: $darkBlue-900;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;

  @include max-w($xg) {
    display: block;
  }
}

.close-btn {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  mask-image: url(../images/sprite.svg#close-btn);
  background-color: $darkBlue-900;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  transition: color 0.5s, box-shadow 0.5s, border 0.5s, background-color 0.5s;

  &--hidden {
    display: none;
  }

  &--filter {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &:focus {
    background-color: $orange-200;
    box-shadow: 0 0 0 2px $orange-600;
    outline: 0;
  }

  &:hover {
    color: $white;
    background-color: $orange-700;
  }

  &:active {
    color: $orange-900;
    box-shadow: none;
    background-color: $orange-200;
  }
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $black;
  opacity: 0.5;
  transition: opacity 0.5s;
  position: fixed;
  z-index: 100;

  &--active {
    display: block;
  }

  &--active-filter {
    display: block;
  }
}

.filter-button {
  display: none;
  position: relative;
  width: 47px;
  height: 47px;
  background-color: $orange-450;
  margin-right: 10px;
  transition: box-shadow 0.5s, background-color 0.5s;

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url(../images/sprite.svg#filter-button);
    background-color: $orange-900;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: cover;
    transition: background-color 0.5s;
  }

  &:focus {
    background-color: $orange-200;
    box-shadow: 0 0 0 2px $orange-600;
    outline: 0;
  }

  &:hover {
    background-color: $orange-800;

    &::after {
      background-color: $white;
    }
  }

  &:active {
    box-shadow: none;
    background-color: $white;

    &::after {
      background-color: $orange-900;
    }
  }

  @include max-w($xg) {
    display: block;
  }
}

.breadcrumbs {
  padding-top: 158px;
  color: $darkBlue-500;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.03em;

  @include max-w($xl) {
    padding-top: 120px;
  }

  @include max-w($xg) {
    padding-top: 90px;
  }

  @include max-w($sm) {
    padding-top: 72px;
  }

  &__inner{
    padding: 24px 0;
    background-color: $orange-300;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding-right: 16px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      width: 6px;
      height: 10px;
      mask-image: url(../images/sprite.svg#reviews-slider--next);
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
      background-color: $silver-800;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        mask-image: none;
        background-color: transparent;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $darkBlue-900;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 6px;

    @include max-w($md) {
      display: none;
    }

    &--dots {
      display: block;
    }
  }

  &__item:first-child {
    display: block;
  }

  &__item:last-child {
    display: block;
  }

  &__link {
    display: block;
    background-color: $orange-450;
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 15px 0;
    border-radius: 3px;

    &--active {
      border: 1px solid $darkBlue-900;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      border: none;
      outline: 0;
    }

    &:hover {
      background-color: $orange-900;
      color: $white;
    }

    &:active {
      border: none;
      background-color: $orange-450;
      color: $darkBlue-900;
      box-shadow: inset 0 -1px 4px 2px $silver-500;
    }
  }

  &__arrow {
    position: relative;
    display: block;
    background-color: $orange-450;
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 15px 0;
    border-radius: 3px;

    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 18px;
      background-color: $darkBlue-900;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
    }

    &--prev {
      margin-right: 6px;

      &::after {
        mask-image: url(../images/sprite.svg#reviews-slider--prev);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--next {

      &::after {
        mask-image: url(../images/sprite.svg#reviews-slider--next);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      border: none;
      outline: 0;
    }

    &:hover {
      background-color: $orange-900;
      
      &::after {
        background-color: $white;
      }
    }

    &:active {
      border: none;
      background-color: $orange-450;
      box-shadow: inset 0 -1px 4px 2px $silver-500;

      &::after {
        background-color: $darkBlue-900;
        ;
      }
    }
  }
}
