@mixin line-clamp($lines) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

/**p {
    @include line-clamp(6);
}*/
 