$accent-color: #ff6838;
$default-color: #31352b;
$body-bg: #f9faff;
$header-bg: rgba(133, 146, 212, 0.5);
$white-color: #ffffff;
$title-color: #363853;
$form-color: #c2c2c2;
$border-color: rgba(194, 194, 194, 0.2);
$focus-color: rgba(255, 104, 56, 0.7);
$focus-btn-color: rgba(255, 122, 80, 0.1);
$active-color: rgba(49, 53, 43, 0.5);
$shadow-color: rgba(255, 104, 56, 0.5);
$border-color: #ececec;
$filter-border-active: rgba(255, 104, 56, 0.2);
$delivery-color: #00aaff;
$resturent-color: #ff2222;




%rubik-italic-400 {
  font-family: 'Rubik-Italic';
  font-weight: 400;
}

%rubik-300 {
  font-family: 'Rubik-Light';
  font-weight: 300;
}

%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}