$accent-color: #ff6838;
$default-color: #31352b;
$body-bg: #f9faff;
$white-color: #ffffff;
$title-color: #363853;
$form-color: #c2c2c2;
$border-color: rgba(194, 194, 194, 0.2);


%rubik-italic-400 {
  font-family: 'Rubik-Italic';
  font-weight: 400;
}

%rubik-300 {
  font-family: 'Rubik-Light';
  font-weight: 300;
}

%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}