@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header {
  font-size: 18px;
  position: fixed;
  padding: 60px 0 0;
  top: 0;
  z-index: 50;
  width: 100%;
  transition: padding-top 0.5s, background-color 0.5s;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: inline-block;
  flex-grow: 1;
}

.logo,
.menu,
.hero__title {
  z-index: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.menu {
  display: flex;
  justify-content: end;
  flex-grow: 4;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    display: block;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    position: relative;
  }
}

.menu__link::after,
.hero__link::after,
.contact__link::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #ffffff;
  top: 21px;
  left: 0;
  width: 0;
  transition: width 0.4s;
}

.menu__link:focus,
.hero__link:focus,
.contact__link:focus,
.social__link:focus,
.form__field:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  outline: 0;
}

.menu__link:hover::after,
.hero__link:hover::after,
.contact__link:hover::after {
  width: 100%;
}

.menu__link:active,
.hero__link:active,
.hero__link:active::before,
.contact__link:active,
.social__link:hover {
  opacity: 0.7;
}

.menu__link:active::after,
.hero__link:active::after,
.contact__link:active::after {
  width: 0;
  transition: width 0.01s;
}

.user-nav {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.search {

  &__img {
    width: 24px;
    height: 24px;
    margin-right: 33px;
  }
}

.cart {
  position: relative;

  &__img {
    width: 24px;
    height: 24px;
  }

  &__order {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 1.2;
    color: $white-color;
    background-color: $accent-color;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transform: translate(50%, -25%);
  }
}

.hero,
.range,
.delivery,
.restaurant,
.reviews,
.mobile-app {
  padding: 60px 0;
}

.hero {
  padding-top: 159px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: block;
    @extend %rubik-500;
    font-size: calc(40px + 26 * ((50vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 20px;
  }

  &__title--orange {
    color: $accent-color;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__link {
    line-height: 1.5;
    color: $title-color;
  }

  &__image {
    max-width: 560px;
    max-height: 660px;
  }

  &__button {
    margin-right: 34px;
  }
}

.range {

  &__title {
    margin-bottom: 60px;
  }
  
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 60px;
  }

  &__item {
    background-color: $white-color;
    border-radius: 5px;
    text-align: center;
  }

  &__add {
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    color: $title-color;
    text-decoration: underline;
  }
}

.product {

  &__image {
    margin: 0 auto 10px;
    padding-top: 20px;
  }

  &__title {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 28px;
  }

  &__price {
    display: block;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1.4;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__button {
    font-size: 14px;
    padding: 7px 16px;
    margin-bottom: 20px;
  }
}

.mix-filter {
  display: flex;
  padding-bottom: 45px;

  &__category:not(:last-child) {
    margin-right: 20px;
  }

  &__button {
    background-color: $white-color;
    color: $title-color;
    width: 181px;
    height: 70px;
  }
}

.delivery {
  &__inner {
    display: flex;
  }

  &__img {
    margin-right: 120px;
  }
}

.benefits {
  
  & {
    padding-top: 58px;
    margin-bottom: 30px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    font-size: 24px;
    line-height: 1.5;
    color: $title-color;
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.restaurant {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &__item {
    background-color: $white-color;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__name {
    display: block;
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__business-hours {
    font-size: 18px;
    @extend %rubik-300;
    line-height: 1.6;
    position: relative;
    padding-left: 32px;
  }

  &__business-hours::before {
    content: '';
    position: absolute;
    background-image: url(../images/timer.svg);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.button__restaurant {
  border-radius: 20px;
  position: relative;
  padding: 17px 40px;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/arrow-restaurant.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.reviews {
  &__inner {
    justify-content: center;
    margin-bottom: 48px;
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;
  }
}

.blockquote {
  @extend %rubik-italic-400;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-top: 31px;
  max-width: 650px;

  &__text {
    position: relative;
    padding: 0 40px;
    margin-bottom: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 24px;
      width: 19px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &::before {
      background-image: url(../images/quotes_start.svg);
      top: 0;
      left: 0;
    }

    &::after {
      background-image: url(../images/quotes_end.svg);
      bottom: 0;
      right: 0;
    }
  }

  &__author {
    display: block;
    @extend %rubik-500;
    font-style: normal;
    color: $accent-color;
    padding: 0 40px;
  }

  &__author-description {
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    padding-top: 15px;
    color: $default-color;
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}

.slick-dots li+li {
  margin-left: 20px;
}

.slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  width: 15px;
  height: 15px;
  background: #c2c2c2;
  border-radius: 50%;
  outline: none;
}

.mobile-app {

  &__inner {
    display: flex;
  }

  &__content {
    margin-right: 62px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__link {
    content: '';
    position: absolute;
    height: 40px;
    width: 120px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &--app {
      background-image: url(../images/app_store.svg);
    }

    &--google {
      background-image: url(../images/google_play.svg);
    }
  }
}

.footer {
  padding-top: 60px;

  &__inner {
    display: flex;
    padding-bottom: 60px;
  }

  &__content {
    margin-right: 70px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item.footer__item--logo {
    margin-bottom: 30px;
  }

  &__button {
    font-size: 14px;
    padding: 13px 38px 13px 70px;
    @extend %rubik-500;
    position: relative;
    text-align: start;
  
    &::before {
      background-image: url(../images/frame.svg);
      content: '';
      position: absolute;
      height: 24px;
      width: 24px;
      top: 50%;
      left: 38px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
  &__link {
    font-size: 18px;
  }
}

.subscribe {
  max-width: 200px;

  &__input {
    font-size: 14px;  
    border: 1px solid $form-color;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 13px 15px;
    width: 200px;

    &::placeholder {
      color: $form-color;
      opacity: 0.9;
    }
  }
}

.contacts {

  &__content {
    padding-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px; 
  }

  &__link {
    font-size: 16px;
    line-height: 2;
    position: relative;
    padding-left: 31px;
  
    &::before {
      content: '';
      position: absolute;
      height: 24px;
      width: 24px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &--location::before {
      background-image: url(../images/contacts/location.svg);
    }

    &--calling::before {
      background-image: url(../images/contacts/calling.svg);
    }

    &--message::before {
      background-image: url(../images/contacts/message.svg);
    }
  }
}

.socials {
  display: flex;

  &__link {
    padding-right: 47px;
    padding-bottom: 21px;
    margin-right: 13px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.copyright {
  text-align: center;
  border-top: 1px solid $border-color;
  padding: 30px 0;

  &__text {
    font-size: 14px;
    line-height: 1;
  }
}






@import 'media';