@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

@mixin truncate($n, $lh) {
    @if $n == 1 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: $lh;
    } @else {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-line-clamp: $n;
        -moz-line-clamp: $n;
        line-clamp: $n;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
        line-height: $lh;
        height: $lh * $n;
    }
}
 
/*p {
    width: 200px;
}
p:not(:last-child) {
    @include truncate(1, 24px);
}
p:last-child {
    @include truncate(2, 24px);
}*/


.header {
  font-size: 18px;
  position: fixed;
  padding: 60px 0 0;
  top: 0;
  z-index: 50;
  width: 100%;
  transition: padding-top 0.5s, background-color 0.5s;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header--fix {
  padding-top: 0;
  background-color: $header-bg;
}

.logo {
  display: inline-block;
  flex-grow: 1;
}

.animation-logo {
  transition: opacity 0.5s, box-shadow 0.5s;

  &:focus {
    box-shadow: 0px 0px 0px 2px $focus-color;
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
    box-shadow: none;
  }
}

.logo,
.menu,
.hero__title {
  z-index: 2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.menu {
  display: flex;
  justify-content: end;
  flex-grow: 4;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    display: block;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    position: relative;
  }
}

.animation-link {
  transition: color 0.5s, box-shadow 0.5s, border 0.5s;

  &:focus {
    box-shadow: 0px 0px 0px 2px $focus-color;
    outline: 0;
  }

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

  &:active {
    color: $default-color;
    text-shadow: 2px 2px 5px $active-color;
    box-shadow: none;
  }
}
/*не нашел другого способа усилить специфичность. Иначе не работает свойство box-shadow: none - оно перебивается свойством box-shadow, заданное на .animation-link:focus*/
.menu__link.menu__link--active {
  color: #ff6838;
  box-shadow: none;
}

.user-nav {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.search {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 13px;

  &::before {
    content: '';
    background-image: url(../images/sprite.svg#search);
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.cart {
  position: relative;
  width: 44px;
  height: 44px;

  &::before {
    content: '';
    background-image: url(../images/cart.svg);
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &__order {
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 10px;
    line-height: 1.2;
    color: $white-color;
    background-color: $accent-color;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transform: translate(50%, -25%);
  }
}

.hero,
.range,
.delivery,
.restaurant,
.reviews,
.mobile-app {
  padding: 60px 0;
}

.hero {
  padding-top: 159px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 450px;
  }

  &__title {
    display: block;
    @extend %rubik-500;
    font-size: calc(40px + 26 * ((50vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    color: $title-color;
    margin-bottom: 20px;

    &--orange {
      color: $accent-color;
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__link {
    line-height: 1.5;
    color: $title-color;
  }

  &__img {
    width: 560px;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &__button {
    margin-right: 34px;
  }
}

.animation-btn {
  transition: color 0.5s, box-shadow 0.5s, border 0.5s, background-color 0.5s;

  &:focus {
    color: $accent-color;
    background-color: $focus-btn-color;
    box-shadow: 0px 0px 0px 2px $focus-color;
    outline: 0;
  }

  &:hover {
    color: $accent-color;
    background-color: $white-color;
    box-shadow: 0px 0px 0px 2px $focus-color;
  }

  &:active {
    color: $accent-color;
    box-shadow: none;
    border-color: $focus-btn-color;
    background-color: $focus-btn-color;
  }
}

.range {

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1228px;
  }

  &__content {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__item {
    max-width: calc(20% - 30px);
    width: 100%;
    margin: 0 15px 30px;
  }

  &__add {
    display: block;
    margin: 0 auto;
    line-height: 1.5;
    color: $title-color;
    text-decoration: underline;
  }
}

.card {
  display: flex;
  flex-direction: column;

  background-color: $white-color;
  border-radius: 5px;
  padding: 20px 15px;
  min-height: 299px;
  transition: box-shadow 0.5s;

  &__image {
    margin: 0 auto;
  }

  &__title {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 1.2;
    margin: auto 0;
    text-align: center;
  }

  &__price {
    display: block;
    @extend %rubik-500;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    color: $title-color;
    margin-bottom: 10px;
  }
/*кнопка растягивается почему-то на весь контейнер*/
  &__button {
    font-size: 14px;
    padding: 7px 16px;
  }

  &:hover {
    box-shadow: 0px 0px 0px 1px $accent-color;
  }
}

.mix-filter {
  display: flex;
  padding-bottom: 45px;

  &__category:not(:last-child) {
    margin-right: 20px;
  }

  &__button {
    font-size: 20px;
    background-color: $white-color;
    color: $title-color;
    box-shadow: 0px 0px 0px 1px $border-color;
    border-radius: 5px;
    padding: 22px 32px 22px 86px;
    /*почему-то не работает focus, хотя hover и active работают*/
    &:focus {
      border-color: $accent-color;
      outline: 0;
    }

    &:hover {
      box-shadow: $focus-color;
      color: $accent-color;
      background-color: $focus-btn-color;
    }

    &:active {
      color: $title-color;
      box-shadow: inset 0px -5px 12px $filter-border-active;
    }
  }
}

.mix-filter__button.mixitup-control-active {
  color: $white-color;
  background-color: $accent-color;
}

.delivery {
  &__inner {
    display: flex;
  }

  &__img {
    margin-right: 120px;
  }
}

.benefits {
  
  & {
    padding-top: 58px;
    margin-bottom: 30px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    font-size: 24px;
    line-height: 1.5;
    color: $title-color;
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.restaurant {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &__item {
    background-color: $white-color;
    border-radius: 10px;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 3px 15px $shadow-color;
    }
  }

  &__img {
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
  }

  &__name {
    display: block;
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__business-hours {
    font-size: 18px;
    @extend %rubik-300;
    line-height: 1.6;
    position: relative;
    padding-left: 32px;
  }

  &__business-hours::before {
    content: '';
    position: absolute;
    background-image: url(../images/timer.svg);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.button__restaurant {
  border-radius: 20px;
  position: relative;
  padding: 17px 40px;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/arrow-restaurant.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 12px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.reviews {
  &__inner {
    justify-content: center;
    margin-bottom: 48px;
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;
  }
}

.blockquote {
  @extend %rubik-italic-400;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-top: 31px;
  max-width: 650px;

  &__text {
    position: relative;
    padding: 0 40px;
    margin-bottom: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 24px;
      width: 19px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &::before {
      background-image: url(../images/quotes_start.svg);
      top: 0;
      left: 0;
    }

    &::after {
      background-image: url(../images/quotes_end.svg);
      bottom: 0;
      right: 0;
    }
  }

  &__author {
    display: block;
    @extend %rubik-500;
    font-style: normal;
    color: $accent-color;
    padding: 0 40px;
  }

  &__author-description {
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    padding-top: 15px;
    color: $default-color;
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}
.slick-dots li {
  margin-right: 15px;
}
.slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: $form-color;
  border-radius: 50%;
  outline: none;
}
li.arrow-slider-first {
  margin-right: 23px;
}
.arrow-slider-first .slick-prev,
.arrow-slider .slick-next {
  height: 34px;
  width: 34px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: $body-bg;
}
.arrow-slider-first .slick-prev {
  background-image: url(../images/prev-arrow-slideer.svg);
}
.arrow-slider .slick-next {
  margin-left: 8px;
  background-image: url(../images/next-arrow-slideer.svg);
}

.mobile-app {

  &__inner {
    display: flex;
  }

  &__content {
    margin-right: 62px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__link {
    content: '';
    position: absolute;
    height: 40px;
    width: 120px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &--app {
      background-image: url(../images/app_store.svg);
    }

    &--google {
      background-image: url(../images/google_play.svg);
    }
  }
}

.footer {
  padding-top: 60px;

  &__inner {
    display: flex;
    padding-bottom: 60px;
  }

  &__content {
    margin-right: 70px;
  }

  &__nav {
    margin-right: 70px;
  }

  &__list {
    column-count: 3;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item.footer__item--logo {
    margin-bottom: 30px;
  }

  &__button {
    font-size: 14px;
    padding: 13px 38px 13px 70px;
    @extend %rubik-500;
    position: relative;
    text-align: start;
  
    &::before {
      background-image: url(../images/frame.svg);
      content: '';
      position: absolute;
      height: 24px;
      width: 24px;
      top: 50%;
      left: 38px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }

  &__link {
    font-size: 18px;
  }

  &__copyright {
    text-align: center;
    border-top: 1px solid $border-color;
    padding: 30px 0;
  }
  
  &__copyright-text {
    font-size: 14px;
    line-height: 1;
  }
}

.subscribe {
  max-width: 200px;

  &__input {
    font-size: 14px;  
    border: 1px solid $form-color;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 13px 15px;
    width: 200px;

    &::placeholder {
      color: $form-color;
      opacity: 0.9;
      transition: color 0.5s;
    }
  }
}

.animation-form {
  transition: box-shadow 0.5s;

  &:focus {
    box-shadow: 0px 0px 0px 2px $focus-color;
    outline: 0;
  }

  &:hover::placeholder {
  color: $title-color;
  }
}

.contacts {

  &__content {
    padding-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px; 
  }

  &__link {
    font-size: 16px;
    line-height: 2;
    position: relative;
    padding-left: 31px;
  
    &::before {
      content: '';
      position: absolute;
      height: 24px;
      width: 24px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &--location::before {
      background-image: url(../images/contacts/location.svg);
    }

    &--calling::before {
      background-image: url(../images/contacts/calling.svg);
    }

    &--message::before {
      background-image: url(../images/contacts/message.svg);
    }
  }
}

.social {
  display: flex;

  &__link {
    padding-right: 47px;
    padding-bottom: 21px;
    margin-right: 13px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}